/*  FONTS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* ROOT */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BACKGROUND */
html {
    background-color: var(--clr-primary-1);
}

/* BODY STYLING */
body {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

/* FORM CONTAINER */
.form-container {
    background-color: var(--clr-primary-6);
    height: 100%;
    width: 600px;
    line-height: 1.5;
    margin-top: 70px;
    padding: 100px 10px;
    border-radius: 40px;
}

.input-container {
    display: block;
    padding: 0px;
    font-weight: bold;
}

h1 {
    text-decoration: underline;
}

/* INPUT ELEMENTS */
input {
    padding: 10px 8px;
    margin: 5px 0;
    border-radius: 13px 15px;
    border: none;
    width: 60%;
}

input:hover {
    background-color: #ffffffe0;
}

input[type="text"] {

}

/* BUTTON STYLES */
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    padding: 7px 0;
    margin: 5px 10px;
    border-radius: 15px;
    display: block;
    width: 60%;
    border: none;
    font-size: 1.2rem;
    font-family: var(--ff-secondary);
    color: white;
    font-weight: bold;
}

.login-btn {
    background-color: var(--clr-green-light);
}
.login-btn:hover {
    background-color: var(--clr-green-dark);
}

.clear-btn {
    background-color: var(--clr-red-light);
}
.clear-btn:hover {
    background-color: var(--clr-red-dark);
}